:host {
    grid-area: body;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.card {
    position: relative;
    box-sizing: border-box;
    border: 1px solid var(--color-shade-50);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 12px;
    padding: 40px;
    text-align: center;
    width: 100%;
}
