* {
    box-sizing: border-box;
}

:host {
    width: auto;
    display: block;
    margin: 10px 28px;
}

.sidebar_button {
    --border-color: transparent;
    --border-width: 1px;
    --spacing: 12px;

    height: 40px;
    width: 100%;

    &.open,
    &:hover,
    &:focus,
    &:focus-within {
        text-decoration: none;
        --text-color: var(--color-primary);
        --border-color: var(--color-grey-400);
    }
}

.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.caret {
    transition: transform 300ms ease;
    transform: rotate(0deg);

    &.open {
        transform: rotate(180deg);
    }
}

.popper {
    border-radius: 30px;
    width: 250px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 400ms ease;

    &.entered {
        opacity: 1;
    }
}

menu {
    padding: 0;
    margin: 0 -10px;
    display: flex;
    flex-direction: column;

    & header,
    & footer {
        padding: 14px;
    }

    & h1 {
        font-size: 22px;
        font-weight: 300;
        margin: 0;
    }

    & menuitem {
        display: flex;

        & es-button-link,
        & es-button {
            display: flex;
            width: 100%;
            --align-inner: flex-start;
        }
    }

    & .all_link {
        --border-color: var(--color-grey-200);
    }
}

es-accordian::part(section_header_title) {
    font-size: 22px;
    font-weight: 300;
    color: var(--color-primary-dark);
}
