* {
    box-sizing: border-box;
}

:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: header;
    padding: 0;
    height: var(--layout-header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    --zindex-base: 2000;
    background-color: var(--color-background);
    box-sizing: border-box;
}

header {
    width: 100%;
    max-width: var(--layout-max-width);
    height: calc(var(--layout-header-base-height));
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    padding: 0 var(--spacing-3, 24px);
}

.left {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: var(--spacing-2, 16px);
}

.center {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-2, 16px);
}

.right {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacing-2, 16px);
}

.under {
    height: var(--layout-header-under-height);
    width: 100%;
    max-width: var(--layout-max-width);

    &::before {
        content: '';
        display: block;
        background-color: var(--color-shade-10);
        position: absolute;
        height: var(--layout-header-under-height);
        left: 0;
        right: 0;
        bottom: 0;
    }
}

::slotted(l2-nav[slot='under']) {
    height: 45px;
}

::slotted(l2-nav[slot='left']),
::slotted(l2-nav[slot='center']),
::slotted(l2-nav[slot='right']) {
    height: 100%;
}

.backdrop {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: var(--layout-header-under-height);
    left: 0px;
    z-index: -1;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -100;
        height: 2px;
        background-color: transparent;
    }
}

:host(:not(.has_under):not(.has_banner)) {
    & header {
        padding-bottom: 2px;
    }

    & .backdrop::after {
        background-color: var(--color-shade-20);
    }
}

::slotted([slot='backdrop']) {
    overflow: visible;
    max-width: 100%;
    width: var(--layout-max-width);
    margin: auto;
}
