:host {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--color-header);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

svg {
    background-color: var(--color-header);
    overflow: visible;
    max-width: 100%;
    width: var(--layout-max-width);
}

:host([variant='dark']) {
    & .circle_1 {
        opacity: 0.2;
    }
}

.circle_1 {
    fill: var(--color-header-contrast);
    opacity: 0.2;
}

.circle_2 {
    fill: var(--color-header-alt);
}

.circle_3 {
    fill: var(--color-header-contrast);
    opacity: 0.2;
}
