:host {
    display: block;
    padding: 40px;
}

.amount {
    justify-content: flex-end;
    background-color: var(--color-success);
    color: var(--color-success-contrast);

    &.large {
        background-color: var(--color-error);
        color: var(--color-error-contrast);
    }
}

.some_class h1 {
    color: pink;
    font-size: 16px;
    margin: 0;
}

es-table {
    --sticky-top: 0px;
}

.toggle_theme {
    position: fixed;
    right: 20px;
    bottom: 20px;
    min-width: 200px;

    &::part(button) {
        text-transform: capitalize;
    }
}

.expand_icon {
    margin-left: 20px;
}
