es-table {
    display: grid;
    width: 100%;

    & *[role='row'] {
        height: 50px;
        background-color: transparent;
        display: contents;

        &.selectable {
            cursor: pointer;
            transition: color 500ms ease;

            & *[role='cell']:first-child::before {
                content: '';
                display: block;
                position: absolute;
                background-color: currentColor;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                right: 100%;
                top: 0;
                bottom: 0;
                margin: auto;
                transition: transform 500ms ease, opacity 500ms ease;
                opacity: 0;
            }

            &.selected {
                color: var(--color-secondary);

                &:hover,
                &:focus,
                & {
                    & *[role='cell']:first-child::before {
                        transform: translateX(10px);
                        opacity: 1;
                    }
                }
            }

            &:hover,
            &:focus {
                color: var(--color-secondary);

                & *[role='cell']:first-child::before {
                    transform: translateX(5px);
                    opacity: 0.5;
                }
            }
        }
    }

    & *[role='columnheader'],
    & *[role='cell'] {
        padding: 16px 12px;
        min-height: 50px;

        &:first-child {
            padding-left: 24px;
        }

        &:last-child {
            padding-right: 24px;
        }

        &.no_pad {
            padding: 0;
        }
    }

    & *[role='columnheader'] {
        display: flex;
        align-items: center;

        text-align: left;
        font-weight: 700;
        font-size: 16px;
        color: var(--color-primary);

        border-color: var(--color-grey-100);
        border-style: solid;
        border-width: 0;
        border-bottom-width: 4px;

        &.expander-header {
            padding-left: 0;

            & + *[role='columnheader'] {
                padding-left: 0;
            }
        }
    }

    & *[role='rowgroup'] {
        display: contents;

        --row-color: var(--color-white);
        --border-top-color: transparent;
        --border-bottom-color: transparent;

        &:nth-child(2n + 1) {
            --row-color: var(--color-grey-100);
        }
    }

    & a {
        color: inherit;
        text-decoration: inherit;
        background-color: var(--row-color);
        transition: color 500ms ease;

        &:hover {
            color: var(--color-secondary);
        }
    }

    & *[role='cell'] {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        background-color: var(--row-color);
        border-top: 1px solid var(--border-top-color);
        border-bottom: 1px solid var(--border-bottom-color);

        &.borderless {
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
        }

        &.centered {
            justify-content: center;
        }
    }

    & *[role='details'] {
        display: flex;
        align-items: center;
        grid-column: 1/-1;
        padding: 14px 24px 14px 50px;
        min-height: 50px;
        border-bottom: 1px solid var(--color-grey-100);
    }
}
