:host {
    display: flex;
    justify-content: center;
    grid-area: header;
    padding: 0 40px;
    height: var(--layout-header-height);
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

:host([dark]) {
    border-bottom: 4px solid var(--color-shade-20);
}

header {
    width: 100%;
    max-width: var(--layout-max-width);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_right {
    margin-left: auto;
}
