:host {
    overflow: hidden;
}

svg {
    display: block;
}

[part='ouroboros'] {
    fill: var(--color-highlight);
}

[part='text'] {
    fill: var(--color-foreground);
}

:host([high-contrast]) {
    & [part='ouroboros'] {
        fill: var(--color-foreground);
    }
}
