dist
www
loader
build
documentation/generated
!documentation/generated/stencil-private.d.ts

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace


/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
/.pnp.*

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env


