:host {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transition: opacity 400ms ease;
    pointer-events: none;
    z-index: var(--zindex-backdrop, 1000);

    opacity: 0;
}

:host(.entering),
:host(.entered) {
    opacity: 1;
}

.backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-black);
    z-index: -1;
    pointer-events: all;
    opacity: 0.25;
    cursor: pointer;
}
