:host {
    display: block;

    --blob-size: 30px;
    --gutter-size: 30px;
    --icon-gap: 12px;
    --icon-size: 24px;
    --vertical-spacing: 20px;

    --default-color: var(--color-foreground);
    --disabled-color: var(--color-shade-50);

    --active-color: var(--color-highlight);
    --active-background-color: transparent;

    --highlight-color: var(--color-foreground);
    --highlight-background-color: transparent;
    --highlight-decoration: underline;
}

:host([level='2']) :matches(a, button) {
    padding-left: calc(var(--gutter-size) * 1.5);
}

:host([level='3']) :matches(a, button) {
    padding-left: calc(var(--gutter-size) * 2);
}

:host([level='4']) :matches(a, button) {
    padding-left: calc(var(--gutter-size) * 2.5);
}

:host([level='5']) :matches(a, button) {
    padding-left: calc(var(--gutter-size) * 3);
}

:host([high-contrast]) :matches(.disabled) {
    text-decoration: line-through;
}

a,
button {
    padding: calc(var(--vertical-spacing) / 2);
    padding-left: var(--gutter-size);
    padding-right: var(--gutter-size);
    color: var(--default-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    gap: var(--icon-gap);
    transition:
        color 500ms ease,
        background-color 500ms ease;

    &::before {
        content: '';
        display: block;
        position: absolute;
        background-color: currentColor;
        width: var(--blob-size);
        height: var(--blob-size);
        border-radius: 50%;
        right: 100%;
        top: 0;
        bottom: 0;
        margin: auto;
        transition:
            transform 500ms ease,
            opacity 500ms ease;
        opacity: 0;
    }

    &:active {
        color: var(--active-color);
    }

    &.active,
    &.link-active {
        color: var(--active-color);
        background-color: var(--active-background-color);

        &:hover,
        &:focus-visible,
        & {
            color: var(--active-color);

            &::before {
                transform: translateX(50%);
                opacity: 1;
            }
        }
    }

    &:hover,
    &:focus-visible {
        color: var(--highlight-color);
        background-color: var(--highlight-background-color);
        text-decoration: var(--highlight-decoration);
        outline: none;

        &::before {
            transform: translateX(25%);
            opacity: 0.5;
        }
    }

    &.disabled {
        color: var(--disabled-color);
        cursor: not-allowed;

        &:hover,
        &:focus-visible {
            color: var(--disabled-color);
            text-decoration: none;
        }

        &::before {
            display: none;
        }
    }
}

.inner {
    flex: 1 1 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

c2-icon {
    height: var(--icon-size);
    width: var(--icon-size);
}

:host([mode='collapsed']) {
    --blob-size: 0;

    & a,
    & button {
        transition: color 500ms ease;
        padding-left: 0;
        padding-right: 0;

        &:hover,
        &:focus-visible {
            color: var(--active-color);
        }
    }
}
