es-typeahead {
    display: block;
}

.inner.typeahead {
    display: flex;
    width: 100%;
    border-radius: 20px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-shade-50);
    outline: none;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.01);
    background-color: transparent;
    padding-top: 40px;
    transition: max-height 200ms ease, opacity 200ms ease;
    max-height: 40px;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;

    &.entered {
        max-height: 200px;
        opacity: 1;
    }

    &.exiting .list {
        overflow-y: hidden;
    }
}

.list_sizer {
    background-color: var(--color-background);
    overflow: hidden;
    width: 100%;
}

.list {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    max-height: 100%;
    pointer-events: all;
}

.list_item {
    padding: 0;
    margin: 0;
    display: block;
}

.empty_message,
.option {
    --background-color: transparent;
    --foreground-color: var(--color-text);

    display: flex;
    align-items: center;
    text-align: left;
    border: none;
    padding: 12px 20px;
    min-height: 40px;
    width: 100%;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    background-color: var(--background-color);
    color: var(--foreground-color);
    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease;
    border-radius: 2px;

    &:hover {
        --background-color: var(--color-shade-20);
    }

    &:focus {
        --background-color: var(--color-shade-30);
    }

    &.active {
        --background-color: var(--color-secondary);
        --foreground-color: var(--color-secondary-contrast);
    }
}

.list[high-contrast] .option {
    &:hover {
        --background-color: transparent;
        --foreground-color: var(--color-secondary);
    }

    &:focus {
        --background-color: transparent;
        outline: dashed;
        outline-offset: -3px;
        outline-color: var(--color-text);
    }

    &.active {
        --background-color: var(--color-secondary);
        --foreground-color: var(--color-secondary-contrast);
    }
}

.empty_message {
    color: var(--color-shade-50);

    &:hover {
        background-color: transparent;
    }
}
