c2-table-virtualized {
    display: block;
    width: 100%;
    contain: content;

    &,
    & * {
        box-sizing: border-box;
    }
}

:where([role='table']) {
    display: grid;
    position: relative;
    width: 100%;
    transform: translate3d(0, 0, 0);
}

@import url('../table.css');

.before {
    grid-row: before;
    grid-column-start: 1;
    grid-column-end: -1;
}

.after {
    grid-row: after;
    grid-column-start: 1;
    grid-column-end: -1;
}
