@import '../Field/field.css';
@import '../es-input/es-input.css';

/**
 * @prop --field-grid-columns: The field layout.
 **/

:host {
    display: block;
}

es-input:not(:first-child)::part(label) {
    visibility: hidden;
}

.row {
    display: grid;
    grid-template-columns: var(--field-grid-columns);
    column-gap: var(--field-grid-gap);
    align-items: center;
}

.add_item {
    grid-column: input;
    justify-self: end;
    --text-color: var(--color-text);
}
