* {
    box-sizing: border-box;
}

:host {
    outline: none;
}

.cards:has(:focus-visible) label:not(.disabled) {
    outline-offset: -2px;
    outline-width: 2px;
}

label {
    display: block;
    position: relative;
    outline-offset: -1px;
    outline: 1px solid var(--color-shade-50);
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    transition-property: outline-color, filter;
    transition-duration: 500ms;
    transition-timing-function: ease;

    & .check_icon {
        box-sizing: border-box;
        background-color: var(--color-shade-50);
        color: var(--color-background);
        position: absolute;
        bottom: -11px;
        right: -10px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        padding-top: 8px;
        padding-left: 8px;
        padding-right: 15px;
        padding-bottom: 15px;
        transition-property: transform, background-color, opacity;
        transition-duration: 500ms;
        transition-timing-function: ease;
        transform: translateX(50%) translateY(50%);
        opacity: 0;
    }

    &:not(.disabled) {
        &:hover,
        &:focus,
        &:focus-within {
            outline-offset: -2px;
            outline: 2px solid var(--color-success-alt);

            & .check_icon {
                transform: translateX(20%) translateY(20%);
                background-color: var(--color-success-alt);
                opacity: 1;
            }
        }

        &.active {
            outline-offset: -2px;
            outline: 2px solid var(--color-success);

            & .check_icon {
                transform: translateX(0%) translateY(0%);
                opacity: 1;
                background-color: var(--color-success);
            }
        }
    }

    &.disabled {
        cursor: not-allowed;
        color: var(--color-disabled-contrast);
        outline-color: var(--color-disabled-border);
        background-color: var(--color-disabled);
        outline-style: dashed;

        & > *:not(input, .no-fade, .check_icon) {
            filter: grayscale(1);
            opacity: 0.8;
        }
    }
}

.group-inner {
    display: grid;
    grid-template-columns: var(
        --template-columns,
        repeat(auto-fill, minmax(280px, 1fr))
    );
    grid-template-rows: var(--template-rows, initial);
    gap: var(--gap, 20px);
}

input {
    position: absolute;
    opacity: 0;
    width: 0;
    bottom: 0;
}

.label {
    display: block;
    color: var(--color-text);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.description {
    display: block;
    color: var(--color-text);
    font-size: 26px;
    font-weight: 100;
}

.group-title {
    font-size: 16px;
    font-weight: 700;
    color: var(--color-text);
    line-height: 1.5;

    text-align: left;
    text-transform: capitalize;
    margin-bottom: 20px;
    display: block;
}

.group-inner + .group-title {
    margin-top: 20px;
}

.default_card {
    padding: 20px;
}
