* {
    box-sizing: border-box;
}

:host {
    display: contents;
}

h1 {
    font: var(--font-monospace);
    color: var(--color-heading);
    font-size: 36px;
    font-weight: 100;
    margin: 0px;

    &::before,
    &::after {
        color: var(--color-grey-500);
    }

    &::before {
        content: '<';
    }

    &::after {
        content: ' />';
    }
}

es-table .depreciated {
    text-decoration: line-through;
}

es-table pre {
    background-color: var(--color-grey-200);
    padding: 5px;
    border-radius: 4px;
    margin: 5px;

    &.string {
        color: rgb(4, 131, 4);
        &::before,
        &::after {
            content: "'";
        }
    }

    &.default,
    &.boolean,
    &.number,
    &.undefined {
        color: rgb(255, 94, 0);
    }
}

.types {
    flex-wrap: wrap;
}

.required [role='cell'] {
    background-image: radial-gradient(
        circle,
        rgba(255, 248, 0, 0.2) 0%,
        rgba(255, 248, 0, 0.2) 100%
    );
}

.optional [role='cell'] {
    background-image: radial-gradient(
        circle,
        rgba(0, 153, 255, 0.2) 0%,
        rgba(0, 153, 255, 0.2) 100%
    );
}
