@import url('~@kurrent-ui/layout/css/page.css');

l2-page-title {
    font-family: var(--font-family-monospace);

    &::before,
    &::after {
        color: var(--color-shade-50);
    }

    &::before {
        content: '<';
    }

    &::after {
        content: ' />';
    }
}

.intro,
.body {
    margin-bottom: 20px;
}
