@import '../field.css';
@import '../select/input/select-input.css';

:host {
    display: block;
}

:host f2-typeahead {
    display: flex;
    flex-direction: row;
}

.value_list {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1_5, 12px);
}

.value_list_item {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-0_5, 4px);
}

.value_list_item_icon {
    margin-left: auto;
    width: 40px;
}

.value {
    height: 40px;
    width: 100%;
    flex: 1 1 100%;

    border-width: 1px;
    border-radius: 20px;
    border-style: solid;
    border-color: var(--color-shade-60);
    outline: none;
    padding: 0 var(--spacing-2_5, 20px);
    transition-property: border-color;
    transition-duration: 500ms;
    transition-timing-function: ease;

    font-family: var(--font-sans);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-foreground);
    background-color: var(--color-background);
}
