@import './monaco.css';

/**
 * @prop --editor-width: Sets the width of the editor. (default: 100%)
 * @prop --editor-height: Sets the height of the editor. (default: 300px)
 */

:host {
    display: contents;
    outline: none;
}

.container {
    max-width: var(--editor-width, 100%);
    width: var(--editor-width, 100%);
    max-height: var(--editor-height, 300px);
    height: var(--editor-height, 300px);
}
