:host {
    display: block;
    padding: 10px;
    background-color: var(--color-layout-shade-20);
    color: var(--color-layout-contrast);
}

h1 {
    font-size: 16px;
    margin-top: 0;
}

form {
    display: grid;
    padding: 0px;
    margin: 0px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
    width: 350px;
}

.auto + label {
    grid-column: 1;
}

label {
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 5px;
    cursor: pointer;
    font-size: 15px;

    & svg {
        border-radius: 12px;
        border: 1px solid white;
    }

    &.selected {
        & svg {
            border-color: var(--color-layout-highlight);
        }
    }
}

h1 {
    display: inline-block;
}

.field {
    outline: none;
    border: none;
    display: inline-block;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    margin-left: 50%;
    padding-bottom: 10px;
    color: white;

    &.checked {
        & .switch {
            color: var(--color-layout-highlight);

            & .handle {
                transform: translateX(29px);
            }
        }

        & .checkbox {
            color: var(--color-layout-highlight);
        }
    }

    &:focus {
        & .track {
            opacity: 0.6;
        }
    }

    &:disabled {
        & .switch {
            color: var(--color-shade-20);
        }
    }
}

.switch {
    color: var(--color--layout-60);
    transition: color 400ms ease;
    overflow: visible;

    & .track {
        fill: transparent;
        stroke-width: 8px;
        stroke: currentColor;
        opacity: 0.3;
    }

    & .handle {
        fill: currentColor;
        transition: transform 400ms ease;
    }
}

input[type='radio'] {
    width: 30px;
    height: 30px;
    accent-color: var(--color-layout-highlight);
    vertical-align: middle;
    margin: 0 5px 0 0;
}

span {
    vertical-align: middle;
}

.selection-wrapper {
    padding-top: 5px;
    display: inline-flex;
    align-items: center;
}
