:host {
    display: flex;
    position: relative;
    flex-direction: column;
}

.tab {
    flex: 0 0 58px;
    position: relative;
    appearance: none;
    background-color: transparent;
    color: var(--color-primary);
    font-weight: 700;
    font-size: 16px;
    border: 0;
    padding: 20px;
    cursor: pointer;
    outline: none;
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: ease;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: -1px;
        transform: translateY(50%);
        height: 0px;
        background-color: transparent;

        transition-property: background-color, height;
        transition-duration: 500ms;
        transition-timing-function: ease;
    }

    &:focus-visible {
        color: var(--color-secondary-dark);

        &::after {
            background-color: var(--color-grey-300);
            height: 4px;
        }
    }

    &.active {
        color: var(--color-secondary);
    }
}

.panel {
    border: 1px solid var(--color-grey-200);
    border-radius: 20px;
    padding: 10px 30px;
    flex: 1 1 100%;
    position: relative;
    min-height: 80px;

    &.no_pad {
        padding: 0;
        min-height: unset;

        & ::slotted(*) {
            overflow: hidden;
            border-radius: 20px;
        }
    }
}

.indicator {
    display: block;
    height: 4px;
    background-color: var(--color-secondary);
    transition-property: none;
    transition-duration: 500ms;
    transition-timing-function: ease;
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 2;
}
