docs-markdown {
    display: block;
}

p {
    white-space: pre-wrap;
    line-height: 1.5;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

table {
    border: 0;
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color-white);
}

td,
th {
    padding: 16px 12px;
    min-height: 50px;
}

thead th {
    align-items: center;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    color: var(--color-primary);
    border-color: var(--color-grey-100);
    border-style: solid;
    border-width: 0;
    border-bottom-width: 4px;
}

tbody tr:nth-child(2n + 1) {
    background-color: var(--color-grey-50);
}

li {
    margin-bottom: 16px;
}

li > *:first-child {
    margin-top: 0;
}
li > *:last-child {
    margin-bottom: 0;
}

pre {
    margin: 16px 0;
}

pre code.hljs {
    display: block;
    color: var(--code-fg);
    background: var(--code-bg);
    padding: 20px;

    text-shadow: 0 1px var(--color-white);
    font-family: var(--font-monospace);
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    border-radius: 20px;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.hljs {
    color: var(--code-fg);
    background: var(--code-bg);
}
.hljs-comment,
.hljs-quote {
    color: var(--code-comment);
    font-style: italic;
}
.hljs-doctag,
.hljs-formula,
.hljs-keyword {
    color: var(--code-purple);
}
.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
    color: var(--code-red);
}
.hljs-literal {
    color: var(--code-cyan);
}
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
    color: var(--code-green);
}
.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
    color: var(--code-brown);
}
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
    color: var(--code-blue);
}
.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
    color: var(--code-orange);
}
.hljs-emphasis {
    font-style: italic;
}
.hljs-strong {
    font-weight: 700;
}
.hljs-link {
    text-decoration: underline;
}
