@font-face {
    font-family: 'MuseoSans';
    src: url('/assets/fonts/MuseoSans_100-webfont.woff2') format('woff2'),
        url('/assets/fonts/MuseoSans_100-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('/assets/fonts/MuseoSans_300-webfont.woff2') format('woff2'),
        url('/assets/fonts/MuseoSans_300-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('/assets/fonts/MuseoSans_500-webfont.woff2') format('woff2'),
        url('/assets/fonts/MuseoSans_500-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('/assets/fonts/MuseoSans_700-webfont.woff2') format('woff2'),
        url('/assets/fonts/MuseoSans_700-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('/assets/fonts/MuseoSans_900-webfont.woff2') format('woff2'),
        url('/assets/fonts/MuseoSans_900-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: local('Source Code Pro Regular'), local('SourceCodePro-Regular'),
        url('/assets/fonts/SourceCodePro_400-webfont.woff2') format('woff2'),
        url('/assets/fonts/SourceCodePro_400-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: local('Source Code Pro Medium'), local('SourceCodePro-Medium'),
        url('/assets/fonts/SourceCodePro_500-webfont.woff2') format('woff2'),
        url('/assets/fonts/SourceCodePro_500-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
