:host {
    display: inline-block;
    background-color: var(--color-text);
    opacity: 0.1;
    border-radius: 12px;
    white-space: pre;
    color: transparent;
    user-select: none;
    max-width: 100%;
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
