@import url('../../css/page.css');

:host {
    display: contents;
}

.padder {
    height: 60vh;
}

.user_dropdown_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--color-layout-shade-20);
    color: var(--color-layout-contrast);

    & es-icon {
        color: var(--color-layout-highlight);
    }

    & h1 {
        font-size: 16px;
        font-weight: 400;
        margin-top: 17px;
        margin-bottom: 5px;
    }

    & h2 {
        font-size: 12px;
        font-weight: 400;
        margin: 0;
    }
}

.circle_1 {
    fill: var(--color-layout-contrast);
    opacity: 0.2;
}

.circle_2 {
    fill: var(--color-layout-highlight);
}

.circle_3 {
    fill: var(--color-layout-contrast);
    opacity: 0.2;
}
