es-table {
    display: grid;
    width: 100%;

    & *,
    & *::before,
    & *::after {
        box-sizing: border-box;
    }
}

@import url('../table.css');

.loading {
    opacity: 0;
    animation: fadeIn 2s forwards;
    animation-delay: 0.2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
