* {
    box-sizing: border-box;
}

:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    width: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    font: inherit;
    outline: none;
    color: var(--color-foreground);
    position: relative;

    & .blob {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 2px solid var(--checkpoint-color);
        color: var(--checkpoint-color);
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .center {
        opacity: 0;
        transform: scale(0);
        transition-property: all;
        transition-duration: 500ms;
        transition-timing-function: ease;
    }

    &:not(:where(.readonly, :disabled, .active)) {
        cursor: pointer;

        &:hover,
        &:focus {
            & .center {
                opacity: 1;
                transform: scale(0.5);
            }
        }
    }

    &.active {
        cursor: default;

        &,
        &:hover,
        &:focus {
            & .center {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    &.complete {
        &,
        &:hover,
        &:focus {
            & .center.custom {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}

.connection {
    margin: 0 -30px;

    & line {
        transition-property: stroke;
        transition-duration: 500ms;
        transition-timing-function: ease;
    }
}

linearGradient stop {
    transition-property: stop-color;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
