* {
    box-sizing: border-box;
}

:host {
    display: block;
    grid-column: sidebar / body;
    grid-row: body / footer;

    padding: 20px;
    display: grid;
    grid-template-columns: repeat(10, auto);
    color: var(--color-text);
}

span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
