:host {
    display: flex;
    flex-direction: row;
    font-size: var(--breadcrumb-size, 14px);
    color: var(--color-foreground);
    margin-bottom: var(--spacing-2, 16px);
}

a {
    text-decoration: none;
    color: var(--color-foreground);

    &:last-child {
        color: var(--color-title);

        &::after {
            display: none;
        }
    }

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &.link-active {
        color: var(--color-title);
    }
}

span {
    margin: 0 4px;
    text-decoration: none;
}
