* {
    box-sizing: border-box;
}

:host {
    display: block;
    background-color: var(--color-background);
    max-width: 640px;
    max-height: 80vh;
    border-radius: var(--br, 2px);
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    --zindex: calc(var(--zindex-base, 0) + var(--zindex-modal, 3100));
    z-index: var(--zindex);
    pointer-events: all;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.1))
        drop-shadow(0px 25px 45px rgba(0, 0, 0, 0.3));
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

::slotted(*) {
    --zindex-base: var(--zindex);
}

.close {
    position: absolute;
    top: 0;
    bottom: calc(100% - 70px);
    right: var(--spacing-2, 16px);
    margin: auto;
    border: 0;
    width: 38px;
    height: 38px;
    color: var(--color-highlight);
    background-color: var(--color-highlight-contrast);
    padding: var(--spacing-1, 8px);
    border-radius: var(--br, 2px);
    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: 500ms;
    transition-timing-function: ease;
    outline: none;

    &:hover,
    &:focus {
        background-color: var(--color-highlight);
        color: var(--color-highlight-contrast);
    }
}

header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-0_5, 4px);
    justify-content: center;
    border-bottom: 2px solid var(--color-shade-20);
    padding: var(--spacing-1_5, 12px) var(--spacing-2_5, 20px);
    margin: 0;
    min-height: 70px;
}

::slotted(h1[slot='header']) {
    font-weight: 600;
    font-size: 16px;
    color: var(--color-foreground);
    margin: 0;
}

::slotted(h2[slot='header']) {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-foreground);
    margin: 0;
}

.body {
    padding: var(--spacing-2_5, 12px);
    overflow: auto;
    overscroll-behavior: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: var(--spacing-1_5, 12px) var(--spacing-2_5, 20px);
    border-top: 2px solid var(--color-shade-20);
    margin: 0;
}

::slotted(*[slot='footer']) {
    margin-left: 10px;
}
