@import '../field.css';

:host {
    display: block;
}

.delete_row {
    width: fit-content;
}

.row {
    display: flex;
    flex-direction: row;
    padding-right: 40px;
}

.add_item {
    margin-left: auto;
    --text-color: var(--color-foreground);
}
