:host {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    color: var(--color-grey-600);
    margin-bottom: 46px;
}

a {
    text-decoration: none;
    color: var(--color-grey-600);

    &:last-child {
        color: var(--color-heading);

        &::after {
            display: none;
        }
    }

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &.link-active {
        color: var(--color-heading);
    }
}

span {
    margin: 0 4px;
    text-decoration: none;
}
