*,
*:before,
*:after {
    box-sizing: border-box;
}

c2-table-detail-header {
    display: flex;
    flex-direction: row;
    padding-bottom: var(--spacing-2_5, 20px);
    border-bottom: 1px solid var(--color-shade-30);
    min-height: 61px;
    align-items: center;
    justify-content: center;

    &[has-tabs] {
        padding-bottom: var(--spacing-1_5, 12px);
        min-height: 52px;
        border-bottom: 0px;
    }
}

.header_title {
    font-size: 22px;
    font-weight: 300;
    color: var(--color-foreground);
    margin: 0;
}

.header_actions {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
