* {
    box-sizing: border-box;
}

:host {
    display: contents;
}

.depreciated {
    text-decoration: line-through;
}

.types {
    flex-wrap: wrap;
}

.required [role='cell'] {
    background-image: radial-gradient(
        circle,
        rgba(255, 248, 0, 0.2) 0%,
        rgba(255, 248, 0, 0.2) 100%
    );
}

.optional [role='cell'] {
    background-image: radial-gradient(
        circle,
        rgba(0, 153, 255, 0.2) 0%,
        rgba(0, 153, 255, 0.2) 100%
    );
}
