:host {
    display: block;
    outline: none;
}

.field {
    outline: none;
    border: none;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:focus .track {
        opacity: 0.6;
    }

    &.checked .switch {
        color: var(--color-secondary);

        & .handle {
            transform: translateX(29px);
        }
    }

    &:disabled .switch {
        color: var(--color-grey-100);
    }
}

.switch {
    color: var(--color-grey-400);
    transition: color 400ms ease;

    & .track {
        fill: transparent;
        stroke-width: 8px;
        stroke: currentColor;
        opacity: 0.3;
    }

    & .handle {
        fill: currentColor;
        transition: transform 400ms ease;
    }
}
