/**
 * @prop --foreground-color: Text color. Can be set to a default via the variant prop.
 * @prop --background-color: Background color. Can be set to a default via the variant prop.
 * @prop --border-color: Border color. Can be set to a default via the variant prop.
 */

:host,
* {
    box-sizing: border-box;
}

:host {
    display: block;
    background-color: var(--background-color);
    position: relative;
    padding: var(--spacing-3);
    color: var(--foreground-color);
    border-width: 4px;
    border-style: solid;
    border-color: var(--border-color);
    color: var(--foreground-color);

    /* Button theme inheritance */
    --primary-color: var(--background-color);
    --secondary-color: var(--foreground-color);
    --tertiary-color: var(--foreground-color);
}

:host([variant='tip']) {
    --background-color: var(--color-success-alt);
    --foreground-color: var(--color-success-alt-contrast);
    --border-color: var(--color-success-alt);
}

:host([variant='info']) {
    --background-color: var(--color-info-alt);
    --foreground-color: var(--color-info-alt-contrast);
    --border-color: var(--color-info-alt);
}

:host([variant='warning']) {
    --background-color: var(--color-warning-alt);
    --foreground-color: var(--color-warning-alt-contrast);
    --border-color: var(--color-warning-alt);
}

:host([variant='error']) {
    --background-color: var(--color-error-alt);
    --foreground-color: var(--color-error-alt-contrast);
    --border-color: var(--color-error-alt);
}

:host([high-contrast]) {
    --background-color: var(--color-background);
    --foreground-color: var(--color-foreground);
}

h1 {
    font-size: 18px;
    font-weight: 700;
    color: var(--foreground-color);
    margin: 0;
    line-height: 1.5;
    margin-bottom: 12px;
}
