es-table-nested {
    & es-table.nested {
        display: contents;

        & :where([role='rowgroup']) {
            --row-color: inherit;
            --border-bottom-color: var(--color-primary-extra-light);

            &:first-child {
                --border-top-color: var(--color-primary-extra-light);

                & .borderless {
                    border-top: 1px solid var(--border-top-color);
                }
            }
        }

        &:not(.can_expand_more)
            :where([role='rowgroup']):last-child
            .borderless {
            border-bottom: 1px solid var(--border-bottom-color);
        }
    }

    & .expander {
        height: 100%;
        width: 100%;

        --current-color: var(--color-primary-dark);
    }

    & .expand_more {
        width: 100%;
        grid-column: 1 / -1;
        background-color: var(--row-color);
        border-bottom: 1px solid var(--color-primary-extra-light);

        --current-color: var(--color-primary-dark);
    }
}
