:host {
    display: block;

    --blob-size: 30px;
    --default-color: var(--color-text);
    --active-color: var(--color-secondary);
    --disabled-color: var(--color-shade-50);
    --active-background-color: transparent;
}

:host([level='2']) :matches(a, button) {
    padding-left: calc(var(--blob-size) * 1.5);
}

:host([level='3']) :matches(a, button) {
    padding-left: calc(var(--blob-size) * 2);
}

:host([level='4']) :matches(a, button) {
    padding-left: calc(var(--blob-size) * 2.5);
}

:host([level='5']) :matches(a, button) {
    padding-left: calc(var(--blob-size) * 3);
}

:host([high-contrast]) :matches(.disabled) {
    text-decoration: line-through;
}

a,
button {
    padding: 10px;
    padding-left: var(--blob-size);
    padding-right: var(--blob-size);
    color: var(--default-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    outline-offset: -1px;

    &::before {
        content: '';
        display: block;
        position: absolute;
        background-color: currentColor;
        width: var(--blob-size);
        height: var(--blob-size);
        border-radius: 50%;
        right: 100%;
        top: 0;
        bottom: 0;
        margin: auto;
        transition:
            transform 500ms ease,
            opacity 500ms ease;
        opacity: 0;
    }

    &:active {
        color: var(--active-color);
    }

    &.active,
    &.link-active {
        color: var(--active-color);
        background-color: var(--active-background-color);

        &:hover,
        &:focus,
        & {
            &::before {
                transform: translateX(50%);
                opacity: 1;
            }
        }
    }

    &:hover,
    &:focus {
        text-decoration: underline;

        &::before {
            transform: translateX(25%);
            opacity: 0.5;
        }
    }

    &.disabled {
        color: var(--disabled-color);
        cursor: not-allowed;

        &:hover,
        &:focus {
            text-decoration: none;
        }

        &::before {
            display: none;
        }
    }
}

.inner {
    flex: 1 1 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

es-badge {
    margin-right: 12px;
}

es-counter {
    margin-right: 12px;
}
