*,
:host {
    box-sizing: border-box;
}

:host {
    grid-area: sidebar;
    position: fixed;
    top: var(--layout-body-top);
    width: 260px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 4px solid var(--color-shade-20);
    background-color: var(--color-background);
}

aside {
    padding: 0;
    padding-top: 42px;
    padding-bottom: 10px;
}
