:host {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

p {
    margin-bottom: var(--spacing-2);
}

.custom {
    --background-color: yellow;
    --foreground-color: #35363a;
    --border-color: orange;
    color: #dadce0;
    border-left-width: 5px;
}

.custom::part(heading) {
    font-style: italic;
}

.custom::part(icon) {
    border-radius: 0;
    border-width: 5px;
}
