:root {
    --layout-max-width: 1680px;
    --layout-content-max-width: 1430px;
    --layout-header-base-height: 70px;
    --layout-header-under-height: 0px;
    --layout-header-height: calc(
        var(--layout-header-base-height) + var(--layout-header-under-height)
    );
    --layout-banner-height: 0px;
    --layout-body-top: calc(
        var(--layout-header-height) + var(--layout-banner-height)
    );
    --layout-sidebar-width: 250px;
    --layout-panel-height: 0;

    --font-sans: 500 16px 'MuseoSans', Arial, sans-serif;
    --font-monospace: 400 16px 'Source Code Pro', monospace;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('/assets/fonts/MuseoSans_100-webfont.woff2') format('woff2'),
        url('/assets/fonts//MuseoSans_100-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('/assets/fonts/MuseoSans_300-webfont.woff2') format('woff2'),
        url('/assets/fonts/MuseoSans_300-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('/assets/fonts/MuseoSans_500-webfont.woff2') format('woff2'),
        url('/assets/fonts/MuseoSans_500-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('/assets/fonts/MuseoSans_700-webfont.woff2') format('woff2'),
        url('/assets/fonts/MuseoSans_700-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('/assets/fonts/MuseoSans_900-webfont.woff2') format('woff2'),
        url('/assets/fonts/MuseoSans_900-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: local('Source Code Pro Regular'), local('SourceCodePro-Regular'),
        url('/assets/fonts/SourceCodePro_400-webfont.woff2') format('woff2'),
        url('/assets/fonts/SourceCodePro_400-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: local('Source Code Pro Medium'), local('SourceCodePro-Medium'),
        url('/assets/fonts/SourceCodePro_500-webfont.woff2') format('woff2'),
        url('/assets/fonts/SourceCodePro_500-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'MuseoSans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
