@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans/OpenSans-Light-webfont.woff')
        format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans/OpenSans-LightItalic-webfont.woff')
        format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans/OpenSans-Regular-webfont.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans/OpenSans-Italic-webfont.woff')
        format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans/OpenSans-Semibold-webfont.woff')
        format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans/OpenSans-SemiboldItalic-webfont.woff')
        format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans/OpenSans-Bold-webfont.woff')
        format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans/OpenSans-BoldItalic-webfont.woff')
        format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans/OpenSans-ExtraBold-webfont.woff')
        format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans/OpenSans-ExtraBoldItalic-webfont.woff')
        format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Source Code Pro';
    src: local('Source Code Pro Regular'), local('SourceCodePro-Regular'),
        url('../assets/fonts/SourceCodePro/SourceCodePro_400-webfont.woff2')
            format('woff2'),
        url('../assets/fonts/SourceCodePro/SourceCodePro_400-webfont.woff')
            format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: local('Source Code Pro Medium'), local('SourceCodePro-Medium'),
        url('../assets/fonts/SourceCodePro/SourceCodePro_500-webfont.woff2')
            format('woff2'),
        url('../assets/fonts/SourceCodePro/SourceCodePro_500-webfont.woff')
            format('woff');
    font-weight: 400;
    font-style: normal;
}
