:host {
    display: flex;
    gap: var(--spacing-2);
    align-items: center;
    justify-content: flex-end;
    border-top: 2px solid var(--color-shade-40);
    padding: var(--spacing-3) 0;
    margin-top: var(--spacing-4);
    position: sticky;
    bottom: var(--layout-body-bottom, 0px);
    background-color: var(--color-background);
}
