*,
*::before,
*::after {
    box-sizing: border-box;
}

:host {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-2, 16px);
}

.input {
    height: 40px;
    width: 100%;
    flex: 1 1 100%;

    border-width: 1px;
    border-radius: 20px;
    border-style: solid;
    border-color: var(--color-shade-60);
    outline: none;
    padding: 0 var(--spacing-2_5, 20px);
    transition-property: border-color;
    transition-duration: 500ms;
    transition-timing-function: ease;

    font-family: var(--font-sans);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-foreground);
    background-color: var(--color-background);

    &.invalid {
        border-color: var(--color-error);
    }

    &.disabled,
    &:disabled {
        color: var(--color-disabled-contrast);
        border-color: var(--color-disabled-border);
        background-color: var(--color-disabled);
        border-style: dashed;
    }

    &:focus {
        border-color: var(--color-highlight);
    }

    &::placeholder {
        color: var(--color-shade-60);
    }
}
