:host {
    display: flex;
    min-height: 500px;
}

iframe {
    width: 50%;
    border: 0;
}

es-tabs {
    width: 50%;
    margin-left: 10px;
}

es-tabs::part(panel) {
    padding: 10px;
}

es-editor {
    --editor-height: 100%;
}
