* {
    box-sizing: border-box;
}

:host {
    display: flex;
    min-height: 500px;
    width: 100%;
    position: relative;
}

:host(.no_preview) es-tabs {
    width: 100%;
    flex: 0 0 100%;
    margin-left: 0;
}

:host(.no_code) iframe {
    width: 100%;
    flex: 0 0 100%;
}

:host(.grow) {
    min-height: 0;
}

iframe {
    border: 0;
    width: 50%;
    flex: 0 0 50%;
}

es-tabs {
    width: 50%;
    flex: 0 0 50%;
    width: 50%;
    margin-left: 10px;
}

es-tabs::part(panel) {
    padding: 10px;
    padding-left: 2px;
    background-color: var(--code-bg);
}

e3-editor {
    --editor-height: calc(100% - 10px);
}
