*,
*:before,
*:after {
    box-sizing: border-box;
}

:host {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-area: panel;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: var(--layout-sidebar-width);
    right: 0;
    height: var(--layout-panel-height);
    max-width: var(--layout-panel-max-width);
    margin: auto;
    background-color: var(--color-background);
    box-sizing: border-box;
}

.handle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 34px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: row-resize;
    border-top: 4px solid var(--color-shade-20);
    color: var(--color-contrast);
}

[part='inner'] {
    flex: 1 1 100%;
    padding: 24px 40px 0 40px;
    overflow-x: hidden;
    overflow-y: auto;
}

.cursor_guard {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
    cursor: row-resize;
}
