:host {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
    margin: 0;
}

:host(.hidden) {
    display: none;
}

:where(.inner) {
    background-color: var(--color-background);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.11);
    overflow: auto;
    pointer-events: all;
}

:where(.arrow) {
    position: absolute;
    display: block;
    height: 24px;
    width: 24px;
    overflow: hidden;
    pointer-events: none;

    &::after {
        content: '';
        display: block;
        height: 16px;
        width: 16px;
        position: absolute;
        background-color: var(--color-highlight);
        transition:
            opacity 400ms ease,
            translate 400ms ease;
        opacity: 0;
        rotate: 45deg;
        translate: 0px 0px;
        inset: 0;
        margin: auto;
    }

    &[data-placement^='top'] {
        top: 100%;

        &::after {
            bottom: 100%;
            top: unset;
            border-bottom-right-radius: var(--br-2, 4px);
        }

        &.entered::after {
            opacity: 1;
            translate: 0px 8px;
        }
    }

    &[data-placement^='bottom'] {
        bottom: 100%;

        &::after {
            top: 100%;
            bottom: unset;
            border-top-left-radius: var(--br-2, 4px);
        }

        &.entered::after {
            opacity: 1;
            translate: 0px -8px;
        }
    }

    &[data-placement^='left'] {
        left: 100%;

        &::after {
            right: 100%;
            left: unset;
            border-top-right-radius: var(--br-2, 4px);
        }

        &.entered::after {
            opacity: 1;
            translate: 8px 0px;
        }
    }

    &[data-placement^='right'] {
        right: 100%;

        &::after {
            left: 100%;
            right: unset;
            border-bottom-left-radius: var(--br-2, 4px);
        }

        &.entered::after {
            opacity: 1;
            translate: -8px 0px;
        }
    }
}

:where(c2-popper-x),
:where(c2-popper-y) {
    display: block;
    pointer-events: none;
}
