@import url('../../../css/page.css');

:host {
    display: contents;
}

l2-logo::part(text) {
    fill: var(--color-foreground);
}

l2-panel {
    &::part(inner) {
        padding: 0;
    }

    &::part(handle) {
        transition: all 500ms ease;
        width: 10px;
    }

    &::part(handle active),
    &::part(handle):hover {
        opacity: 0.3;
        border-color: var(--color-highlight);
    }

    &::part(handle_icon) {
        display: none;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;

    &.collapsed {
        padding: 15px 0;
        justify-content: center;
    }
}
