@import url('~@kurrent-ui/assets/css/spacing.css');
@import url('~@kurrent-ui/assets/css/work-sans.css');
@import url('~@kurrent-ui/assets/css/spline-sans.css');
@import url('~@eventstore-ui/layout/css/root.css');

body {
    display: block;
    grid-template-columns: unset;
    grid-template-rows: unset;
    grid-template-areas: unset;
}
