@import url('~@eventstore-ui/layout/css/root.css');
@import url('~@eventstore-ui/assets/font-face.css');

body {
    display: block;
}

body ul.links {
    list-style: none;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

body ul.links li a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border-radius: 12px;
    color: #435261;
    border: 2px solid #f6f6f6;
    padding: 20px;
}
